.pageContainer {
  padding: 1rem 1rem;

  h1 {
    font-size: var(--font-size-sm);
    line-height: 2rem;
    text-align: center;
    padding: 3rem 1rem;

    span {
      color: var(--color-brand-primary-yellow);
    }
  }

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}
