.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .internalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    padding: 1rem;
    max-width: 72rem;

    div:first-child {
      height: 43px;
      width: auto;

      .logo {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    div:nth-child(2) {
      min-width: 128px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 5px;

      margin-bottom: 7px;

      a {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size--default);
      }

      .chevronRight {
        align-self: center;
      }

      &:hover {
        gap: 8px;
        transition: gap ease 0.3s;
      }
    }
  }

  @media screen and (min-width: 72rem) {
    & {
      flex-direction: row;
      justify-content: center;

      .internalContainer {
        min-width: 72rem;
      }
    }
  }
}
